@model termProjectMvc.Models.user
@{ Layout = "~/Views/Shared/_MainLayout.cshtml";
    
}
    <div class="container" style="background-color:lightgray">

        <div class="row">

                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item active">Categories</li>
                        <li class="list-group-item ">@Html.ActionLink("Cell Phones","cellphones","Categories")</li>
                        <li class="list-group-item ">@Html.ActionLink("Laptops","laptops","Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Tablets","tablets","Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Cameras","cameras","Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Computer Accessories","computeracc","Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("All","all","Categories")</li>

                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item active">Filters by brands</li>
                        <li class="list-group-item">@Html.ActionLink("Apple","apple","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("HTC","htc","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("Samsung","samsung","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("Android","android","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("Nokia","nokia","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("Dell","dell","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("Canon","canon","Brands")</li>
                        <li class="list-group-item">@Html.ActionLink("Nikon","nikon","Brands")</li>
                        

                    </ul>
                    </div>
                    
                    <div class="col-md-9 col-sm-6 col-xm-12" style="background-color:lightseagreen">
                            <h2 style="font-family:'Arial Unicode MS'; color:white">Login Info</h2>
                   </div>
                    
                    <div class="col-md-6" style="margin-top:10px">
                        
						<div class="panel panel-smatter text-center">
							<div class="panel-heading">
                                <br />
                                <br />

								<h3 class="panel-title" style="font-family:Arial; color:blue; text-decoration:underline">Please Login to Buy stuff</h3>
                                <br />
                                
							</div>
							<div class="panel-body text-center" >
							
							<!-- Login Form Starts -->
								
				
                                

                        @using (Html.BeginForm("validate", "Home", FormMethod.Post))
                        {
                            <div class="col-md-6" style="margin-left:60px">
                            <table>
                                
                                    
                            <tr><td>@Html.Label("Name", new { @class = "col-md-2", style = "font-size:large;margin-top:20px" }) </td>
                                        
                                    <td>@Html.TextBoxFor(model => model.name, new { name="n"})</td></tr>
                                    
                                  
                             <tr> <td>@Html.Label("Pasword", new { @class = "col-md-2", style = "font-size:large;margin-top:20px" }) </td>
                                   <td>@Html.TextBoxFor(model => model.password, new { name="p"})</td></tr>
                             
                                       
                        

                                
                            </table>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-primary" style="margin-left:100px">Login</button>
                                </div>
                             

                        }
                                			<!-- Login Form Ends -->
							</div>
						</div>
        </div>
        </div>



       
          

                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-group">
                          <li class="list-group-item active">Filters by Pricing</li>
                          <li class="list-group-item">@Html.ActionLink("0-10k","one","Price")</li>
                          <li class="list-group-item">@Html.ActionLink("10k-20k","two","Price")</li>
                          <li class="list-group-item">@Html.ActionLink("20k-35k","three","Price")</li>
                          <li class="list-group-item">@Html.ActionLink("35k-45k","four","Price")</li>
                          <li class="list-group-item">@Html.ActionLink("45k-60k","five","Price")</li>
                          <li class="list-group-item">@Html.ActionLink("60k+","six","Price")</li>
                        </ul>
                    </div>
                </div>

</div>


    
      


</body>
</html>