@{ Layout = "~/Views/Shared/_MainLayout.cshtml";
    
}

    <div class="container" style="background-color:lightgray">

        <div class="row">

                <div class="col-md-3 col-sm-3 col-xm-12">
                    <ul class="list-group">
                        <li class="list-group-item active">Categories</li>
                        <li class="list-group-item">@Html.ActionLink("Adab", "adab", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Biography", "biography", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Childeren Books", "childeren", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Islamic", "islamic", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Novels", "novels", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Stories", "stories", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Comedy", "comedy", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Computer", "computer", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Technology", "technology", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Programming", "programming", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Science", "science", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Poetry", "poetry", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Fashion", "fashion", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("ShowBiz", "showbiz", "Categories")</li>

                    </ul>
                   
                </div>
            <div class="col-md-9 col-sm-6 col-xm-12" style="background-color:lightseagreen">
                <h2 style="font-family:'Arial Unicode MS'; color:white">Got Something To say ? </h2>
            </div>
            <br />
            <div class="col-md-6 col-sm-6 col-xm-12" style="margin-top:10px">
                <p> we look forward to get feedback from our clients. Drop us comments about your experience or any confusion that you faced we would surely try to tackle that and <br/>provide you with proper response.</p>
                <form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-md-3 col-sm-3 control-label" for="InputName" >Username: </label>
                                        <div class="col-md-6 col-sm-3">
                                            <input type="text" class="form-control" id="InputName" placeholder="Username"/>

                                        </div>
									</div>
                                      <div class="form-group">
										<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
										<div class="col-sm-6">
											<input type="email" class="form-control" id="inputEmail" placeholder="Email"/>
										</div>
									</div>
									<div class="form-group" >
										<label class="col-md-3 col-sm-3 control-label" for="password" >Comments: </label>
                                        <div class="col-md-6 col-sm-3">
										<input type="text" class="form-control" id="comments" placeholder="Your comments" />
                                           
                                         </div>
									</div>
                                    <div class="text-center">
									    <button type="submit" class="btn btn-success" >Submit</button>
                                    </div>  
                                    <br />
                                  
								</form>
            </div>
        </div>

</div>


   