@model termProjectMvc.Models.user1
@{ Layout = "~/Views/Shared/_MainLayout.cshtml";
    
}
<script src=" ~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <div class="container" style="background-color:lightgray">

        <div class="row" >

                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item active">Categories</li>
                        <li class="list-group-item">@Html.ActionLink("Adab", "adab", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Biography", "biography", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Childeren Books", "childeren", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Islamic", "islamic", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Novels", "novels", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Stories", "stories", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Comedy", "comedy", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Computer", "computer", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Technology", "technology", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Programming", "programming", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Science", "science", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Poetry", "poetry", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("Fashion", "fashion", "Categories")</li>
                        <li class="list-group-item">@Html.ActionLink("ShowBiz", "showbiz", "Categories")</li>

                    </ul>
                
                </div>

           
                        
             <div class="col-md-9 col-sm-6 col-xm-12" style="background-color:lightseagreen">
                            <h2 style="font-family:'Arial Unicode MS'; color:white">Sign Up</h2>
                   </div>
            <div class="col-md-6" style="margin-top:10px">
    <!-- Registration Block Starts -->
						<div class="panel panel-smart" >
							<div class="panel-heading">
								<h3 class="panel-title text-center" style="font-family:Arial; color:blue; text-decoration:underline">Create New Account</h3>
							</div>
							<div class="panel-body text-center">
							<!-- Registration Form Starts -->
                                 <div class="col-md-9" style="margin-top:10px">
                        @using (Html.BeginForm("addMember", "Home", FormMethod.Post))
                        {
                            <div class="col-md-9">
                            <table>
                                
                                    
                            <tr><td>@Html.Label("UserName", new { @class = "col-md-6", style = "font-size:large;margin-top:20px" }) </td>
                                        
                                    <td>@Html.TextBoxFor(model => model.username, new { name="n",id="n"}) 
                                        @Html.ValidationMessageFor(m=>m.username) <td><input type="button" id="b1" value="Check" /></td><td class="col-md-6"><div id="result"></div></td></tr>
                                  
                                  <tr><td>@Html.Label("Email", new { @class = "col-md-4", style = "font-size:large;margin-top:20px" }) 
                                      
                                      </td>
                                        
                                    <td>@Html.TextBoxFor(model => model.email, new { name="em"})
                                        @Html.ValidationMessageFor(m=>m.email)
                                    </td></tr>

                                <tr><td>@Html.Label("Phone", new { @class = "col-md-4", style = "font-size:large;margin-top:20px" }) </td>
                                        
                                    <td>@Html.TextBoxFor(model => model.phone, new { name="ph"})</td></tr>

                                <tr><td>@Html.Label("Country", new { @class = "col-md-4", style = "font-size:large;margin-top:20px" }) </td>
                                        
                                    <td>@Html.TextBoxFor(model => model.country, new { name="c"})</td></tr>

                             <tr> <td>@Html.Label("Pasword", new { @class = "col-md-4", style = "font-size:large;margin-top:20px" }) </td>
                                   <td>@Html.TextBoxFor(model => model.password, new { name="p"}) 
                                       @Html.ValidationMessageFor(m=>m.password) 
                                   </td></tr>
                             
                                       
                        

                                
                            </table>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-primary" style="margin-left:100px">Sign up</button>
                                </div>
                             

                        }
                    </div>
                                    </div>
                            </div>
           </div>
                            
								<!-- Personal Information Ends -->
                @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

          //  $('#checking').hide();

            $('#b1').click(function () {
               
                var userName = $('#n').val();

                //alert('User Name ='+ userName);
                $('#checking').show();
                $.getJSON("/home/CheckUserName?n=" + userName, function (data)
                {
                    $('#checking').hide();
                    if (data) {
                        $('#result').text("User already exists in database");
                        
                    }
                    else {
                        $('#result').text("UserName is available");
                    }
                });

            });

        });
    </script>
        </div>

</div>


   
      

